body {
    margin: 0;
    background-color: black;
    box-sizing: border-box;
}

p {
    text-align: center;
    color: black;
    font-family: "Open Sans";
    font-size: 28px;
    color: white;
}

section {
    display: grid;
    margin: 50px auto;
    width: 80%;
    height: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid white;
}

div {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: green;
    margin: auto;
}