* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background-color: cadetblue; */
}

.container {
    margin: 20px auto 10px;
    /* height: 525px; */
    width: 90%;
    /* max-width: 1200px; */
    /* background-color: blueviolet; */
    display: block;
}

header {
    display: block;
    /* height: 50px; */
    padding: 10px;
    /* background-color: rgb(16, 17, 17);
    color: white; */
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    width: 100%;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    text-decoration: none;
    display: block;
    padding: 8px 12px;
    color: black;
}

nav li a.active {
    background-color: green;
    color: white;
}

nav li a:hover:not(.active) {
    background-color: grey;
    color: white;
}

.contenido {
    margin: 10px auto;
    padding: 10px;
    /* height: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    /* background-color: blue; */
}

section {
    background-color: rgb(243, 243, 230);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

article {
    display: block;
    margin: 3px;
   /*  background-color: cyan; */
}

article h2 {
    padding: 10px 20px 8px 20px;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    color: rgb(106, 105, 105);
}

article p,
article ul {
    padding: 10px 20px 8px 20px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color:rgb(30, 30, 30)
}

article li{
    margin-left: 15px;
}


article img {
    margin: auto auto;
    width: 400px;
    height: 280px;
}



aside {
    /* background-color: brown; */
    display: block;
}

aside div {    
    float: right;
    margin: 3px auto;
    margin-bottom: 10px;
    width: 90%;
    height: 200px;
    background-color: rgb(30, 30, 30);
    position: relative;
    color: white
}

aside div img {
    position: absolute;
    width: 100%;
    height: 100%;
}

aside div h3,aside div p {
    padding: 10px;
}

footer {
    /* display: block; */
    /* height: 60px; */
    background-color: rgb(42, 41, 41);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 10px;
    text-align: center;
    color: white
}